:root {
  /* Colours */
  --clr-red: #eb3d1e;
  --clr-cyan: #00b2b2;

  /* Text Colours */

  /* Font Sizes */
  --fs-10: 1rem;
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;

  /* Font Family */
}

/* ===================== */
/* Reset                 */
/* ===================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-16);
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ===================== */
/* Utility Classes       */
/* ===================== */

/* General */
.container {
  padding: 0 3.2rem;
  margin: auto;
  max-width: 120rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ===================== */
/* Logo                  */
/* ===================== */

.logo {
  position: absolute;
  max-width: 25rem;
}

/* ===================== */
/* Help              */
/* ===================== */

.help-btn {
  position: fixed;
  bottom: 5%;
  left: 3%;
  font-size: 2.4rem;
  height: 6rem;
  width: 6rem;
  z-index: 1000;
  border-radius: 50%;
  color: hsl(9, 84%, 52%);
  background-color: #fff;
  border: 2px solid #eb3d1e;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.help-btn:hover {
  border: 2px solid #00b2b2;
  color: #00b2b2;
}

.select-img-text {
  position: fixed;
  bottom: 2rem;
  left: 15rem;
  font-size: 1.4rem;
}

.help-btn--close {
  position: fixed;
  bottom: 5%;
  left: 3%;
  font-size: 2.4rem;
  height: 6rem;
  width: 6rem;
  z-index: 1000;
  color: hsl(9, 84%, 52%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;

  transition: all 0.2s ease-in-out;
}

.help-menu {
  position: fixed;
  bottom: 5%;
  left: 3%;
  background-color: hsl(9, 84%, 52%, 0.7);
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
  padding: 20rem;
  margin: 0;
  width: 100%;

  clip-path: circle(1rem at 1.5% 94%);
  transition: all 0.8s ease-in-out;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 999;

  list-style: none;
}

.menu-open .help-menu {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  clip-path: circle(9rem at 5.7% 65%);
}

.help-btns {
  position: absolute;
  bottom: 22%;
  left: 3%;
  font-size: 3.2rem;
  background-color: transparent;
  color: #fff;
  border: none;
}

.tutorial-btn {
  margin: 5.2rem 0;
  cursor: pointer;
}

.tutorial-btn:hover {
  transition: all 0.2s ease-in-out;
  color: #00b2b2;
}

.tips-btn {
  cursor: pointer;
}

.tips-btn:hover {
  transition: all 0.2s ease-in-out;
  color: #00b2b2;
}

@media (max-width: 90em) {
  .help-menu {
    position: fixed;
    bottom: 2%;
    left: 6%;
    background-color: hsl(9, 84%, 52%, 0.7);
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
    padding: 20rem;
    margin: 0;
    width: 120%;

    clip-path: circle(1rem at 0.5% 85%);
  }

  .menu-open .help-menu {
    clip-path: circle(7rem at 5.7% 65%);
  }

  .help-btns {
    bottom: 23%;
    left: 2%;
  }

  .tutorial-btn {
    font-size: 2.8rem;
    margin: 5.2rem 0;
    cursor: pointer;
  }

  .tips-btn {
    font-size: 2.8rem;
    cursor: pointer;
  }
}

/* ===================== */
/* Tutorial              */
/* ===================== */

.overlay-exit-btn {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page--container {
  padding: 0 3.2rem;
  margin: auto;
  max-width: 120rem;
}

/* First Page Tutorial */
.tutorial-heading {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 5.2rem;
  color: hsl(9, 84%, 52%);
}

.tutorial-subheading {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  color: #00b2b2;
}

.tutorial-example-text {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: hsl(9, 84%, 52%);
}

.tutorial-example-btn-contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorial-example-btn {
  margin-top: 15rem;
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: hsl(9, 84%, 52%);
  border: 2px solid #eb3d1e;
  cursor: pointer;
}

/* Second Page Tutorial */
.tutorial-img-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.2rem;
  justify-items: center;
  align-items: center;
  text-align: center;

  padding: 5.2rem 3.2rem;
  margin: auto;
  max-width: 140rem;
}

.second-tutorial-subheading {
  margin-top: 5rem;
  margin-left: 2.4rem;
  position: absolute;
  font-size: 3.2rem;
}

/* Third Page Tutorial */
.third-tutorial-subheading {
  margin-top: 2.4rem;
  margin-left: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 3.2rem;
}

.imgs-text {
  grid-row: 2;
}

.tutorial-answer-contain {
  display: flex;
  justify-content: center;
}

/* Third Page Tutorial */
.third-page-tutorial-subheading {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.2rem;
  color: #00b2b2;
  width: 20ch;
  margin: auto;
}

.third-page-tutorial-example-text {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  color: hsl(9, 84%, 52%);
  width: 28ch;
  margin: auto;
}

/* Fourth Page Tutorial */
.fourth-page-tutorial-img-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.2rem;
  justify-items: center;
  align-items: center;
  text-align: center;

  padding: 5.2rem 3.2rem;
  margin: auto;
  max-width: 160rem;
}

.tutorial-imgs {
  border: 3px solid rgb(187, 187, 187);
  border-radius: 9px;
  object-fit: cover;
  max-height: 35rem;
  margin-bottom: 2.4rem;
}

.fourth-page-tutorial-subheading {
  margin-left: 1.2rem;
  position: absolute;
  top: 5%;
  font-size: 2.4rem;
}

.fourth-page-answer-tutorial-subheading {
  margin-left: 1.2rem;
  position: absolute;
  bottom: 47%;
  font-size: 2.4rem;
}

/* ===================== */
/* Tips                  */
/* ===================== */

.tips-display {
  position: fixed;
  bottom: 11%;
  left: 6%;
  background-color: rgb(0, 178, 178, 0.9);
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
  border-radius: 9px;
  padding: 8rem 2.4rem;
  margin: auto;
  max-width: 60rem;
  transition: all 1s ease-in-out;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 999;
}

.tips-open .tips-display {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.tips {
  font-size: 1.8rem;
  color: #000;
}

.close-tips {
  font-size: 2.4rem;
  position: fixed;
  top: 2%;
  right: 3%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ===================== */
/* Main                  */
/* ===================== */

.score-contain {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.score-outline {
  padding: 4.8rem 4.8rem 3rem 4.8rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border: 3px solid #00b2b2;
  border-top: none;
}

.score {
  font-size: 2.4rem;
}

.wins {
  font-size: 2.4rem;
}

.img-contain {
  padding-top: 10rem;
  display: grid;
  column-gap: 3.2rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.imgs {
  border: 3px solid rgb(187, 187, 187);
  border-radius: 9px;
  object-fit: cover;
  max-height: 45rem;
  margin: 0;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid var(--clr-cyan);
  outline: none;
}

input:focus,
input:active {
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(0, 178, 178, 0.3);
}

.imgs-text {
  margin-top: 3.2rem;
}

.answer-contain {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.give-up-btn {
  padding: 1rem 2rem;
  border-radius: 9px;
  color: #fff;
  background-color: hsl(9, 84%, 52%);
  border: 2px solid #eb3d1e;
  cursor: pointer;
}

.give-up-btn:hover {
  border: 2px solid #00b2b2;
}

.next-btn {
  padding: 1rem 2rem;
  border-radius: 9px;
  color: #fff;
  background-color: hsl(9, 84%, 52%);
  border: 2px solid #eb3d1e;
  cursor: pointer;
}

.next-btn:hover {
  border: 2px solid #00b2b2;
}

.answer-img {
  padding-top: 3.2rem;
  position: absolute;
  width: 15rem;
  top: 3rem;
  right: 60rem;
  animation: answerImgMotion 1s ease-in-out;
}

@keyframes answerImgMotion {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 9999;

  transition-property: opacity, left;
  transition-duration: 1s, 2s;
  transition: all 0.6s ease-out;
}

.overlay-tutorial {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 9999;

  transition-property: opacity, left;
  transition-duration: 1s, 2s;
  transition: all 0.6s ease-out;
}

.tutorial-toggle {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.6s ease-out;
}

.card-toggle {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.6s ease-out;
}

.img-in-overlay {
  display: none;
}

.imgs-overlay {
  padding: 1rem 3.2rem 0 3.2rem;
  object-fit: cover;
  height: 60rem;
  margin: auto;
  max-width: 90rem;
}

.text-overlay {
  display: block;
  text-align: center;

  border: 2px solid transparent;
  padding: 8rem 3.2rem;
  margin: auto;
  max-width: 90rem;
  color: #000;
}

.text-overlay:hover {
  border: 2px solid #00b2b2;
  border-radius: 9px;
}

.category-contain {
  position: absolute;
  top: 0;
  right: 4%;
  padding: 1.2rem 4.8rem 3rem 4.8rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border: 3px solid #eb3d1e;
  border-top: none;
}

.categories {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.puzzles-btn {
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: hsl(9, 84%, 52%);
  border: 2px solid #eb3d1e;
  cursor: pointer;
}

.puzzles-btn:hover {
  background-color: hsl(9, 84%, 52%, 0.9);
}

.intro-btn {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  right: 50%;
}

/* ===================== */
/* Main Mobile View      */
/* ===================== */

@media (max-width: 64em) {
  .help-btn {
    display: none;
  }

  .container {
    padding-left: 0.5rem;
    padding-right: 7.2rem;
  }

  .img-contain {
    padding-top: 3.2rem;
  }

  .navbar {
    background-color: rgba(235, 61, 30, 0.8);
    padding: 1.2rem 0rem;
  }

  .category-contain {
    display: none;
  }

  .score-contain {
    position: absolute;
    right: 0;
  }

  .score-outline {
    padding: 0.5rem 1.2rem;
    border-bottom-left-radius: 9px;
    border: 3px solid #00b2b2;
    border-top: none;
    border-right: none;
    border-bottom-right-radius: 0;
  }

  .score {
    font-size: 1.3rem;
  }

  .wins {
    font-size: 1.3rem;
  }

  .logo {
    max-width: 5rem;
  }

  .answer-contain {
    flex-direction: row;
    padding-top: 1.8rem;
    padding-right: 6.4rem;
    font-size: 1.4rem;
    gap: 1.6rem;
  }

  #answer {
    order: 2;
  }

  .imgs {
    max-width: 10rem;
    height: 10rem;
  }

  .select-img-text {
    position: fixed;
    bottom: 49.5rem;
    left: 8rem;
    font-size: 1.4rem;
  }

  .imgs-overlay {
    padding: 1rem 0;
    object-fit: fill;
    height: 30rem;
    margin: auto;
    max-width: 35rem;
  }

  .text-overlay {
    display: block;
    text-align: center;
    font-size: 1rem;

    border: 2px solid transparent;
    padding: 4rem 1rem;
    color: #000;
  }
}

@media (max-width: 90em) {
  .img-contain {
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }

  .card {
    justify-self: end;
  }

  .input-contain {
    font-size: 1.3rem;
  }

  .imgs-text {
    margin-top: 0;
  }

  .imgs {
    max-height: 20rem;
  }
}
